on: workflow_call

jobs:
  lint:
    name: "Lint files"
    runs-on: ubuntu-latest

    # Use the Bash shell regardless whether the GitHub Actions runner is ubuntu-latest, macos-latest, or windows-latest
    defaults:
      run:
        shell: bash

    # Checkout the repository to the GitHub Actions runner
    steps:
      - name: Checkout
        uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b # v3.0.2
        with:
          ref: ${{ github.event.pull_request.head.ref }}
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Check if python repo
        id: check_py
        uses: andstor/file-existence-action@f02338908d150e00a4b8bebc2dad18bd9e5229b0 # v1.1.0
        with:
          files: "requirements.txt, **/*.py, Pipfile"
          ignore_case: true

      - name: Run black linter
        if: steps.check_py.outputs.files_exists == 'true'
        uses: psf/black@stable